* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 20px;
  margin-left: 20px;
}

pre {
  color: dimgray;
  font-size: 1rem;
}

.correct {
  color: green;
}

.wrong {
  color: darkred;
}

.current {
  color: white;
  background: gray;
  outline: 1px solid gray;
}

span {
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 20px;
}
